body {
  font-family: Arial, sans-serif;
  }

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

header img {
  position: absolute;
  top: 1%;
  right: 1px;
  width: 120px;
  height: auto;
}

.Image {
  width: 100%;
  border-radius: 10px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.image-box {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

ul li {
  display: inline;
}

ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

ul li a.active {
  background-color: #ddd;
}

h2 {
  color: #333;
}

p {
  color: #0593a5;
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: 0.05em;
}

form {
  margin-top: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.email-box {
  border: 3px solid #161515;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: #f9f9f98a;
}

#emailList h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.email-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.email-box li {
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
